@use '../../styles/mixins' as *;
.area-chart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    @include xs {
      font-size: 20px;
      text-align: center;
    }
    @include sm {
      font-size: 2em;
      text-align: start;
    }
  }
}
